@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #080441;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #0c0b2c;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 1rem;
}

header input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 25rem;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sonho{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    margin: 2rem 1rem;
    background: #0f1623;
    border-radius: 10px;
}

.sonho button{
    background: #111;
    color: #fff;
    padding: 10px;
    border: none;
    border: 1px solid #444;
    border-radius: 10px;
}

.moreDream{
    border-radius: 10px;
    background: #eee;
    color: #111;
    padding: 10px;
}