<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/feed.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Sonholândia | Feed</title>
  </head>
  <body>
    <header>
      <nav>
        <button>
          <div class="user">
            <!-- mostra foto e nome do usuário se tiver -->
            {% if user %}
            <img
              src="{{ user.picture }}"
              alt="avatar"
              width="32"
              style="border-radius: 50%; margin-right: 6px"
            />
            <p>{{ user.name }}</p>
            {% else %}
            <svg ...>...</svg>
            <p>User</p>
            {% endif %}
          </div>
        </button>

        <a href="{{ url_for('main.feed') }}" class="">Feed</a>
        <input type="search" placeholder="Pesquisar" />
        <a href="#" class="linkPostarSonho">Postar um sonho</a>
        <button class="menuFeed">...</button>
        <a href="{{ url_for('auth.logout') }}">Sair</a>
      </nav>
    </header>

    <main>
      <section>
        <!-- repetição de artigos demo -->
        <article class="reveal" id="sonho">
          <h2>Título</h2>
          <p>Sonhei que havia um gorila ...</p>
          <article class="hashtags">
            <a href="" class="tagsEngajamento">#casa</a>
          </article>
        </article>
        <!-- ... outros artigos ... -->
        <button class="verMaisVarios">Ver mais sonhos</button>
      </section>
    </main>

    <script src="{{ url_for('static', filename='js/feed.js') }}"></script>
  </body>
</html>
