<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Sonholândia</title>
  </head>

  <body>
    <main>
      <section class="sectionPrincipal">
        <article class="imagensLogin">
          <!-- Aqui vai ficar um conjunto de imagens, pode ser feito no Canva ou no Figma -->
          <img
            class="img01"
            id=""
            src="../static/assets/relaxed-woman-lying-with-eyes-closed-bed.jpg"
            alt=""
          />
          <img
            class="img02"
            id=""
            src="../static/assets/full-shot-man-drinking-coffee.jpg"
            alt=""
          />
          <img
            class="img03"
            id=""
            src="../static/assets/man-using-laptop-while-couch-home.jpg"
            alt=""
          />
        </article>
        <!-- <p class="slogan"><i>"A rede social dos seus sonhos"</i></p> -->
        <article class="formLogin">
          <!-- Aqui vai ficar a parte de "Acesse aqui", como é uma rede social, o foco por enquanto é esse, baseado no Instagram -->
          <form action="">
            <h1>Sonholândia</h1>
            <br />
            <input type="text" placeholder="Usuário ou email" />
            <input type="text" placeholder="Senha" />
            <a href="#" class="botaoEntrar">Entrar</a>
            <article class="divDoOU">
              <!-- Será que existe icon que imita um traço enorme (lá ele)? -->
              <h3>
                OU
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-down-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"
                  />
                </svg>
              </h3>
            </article>
            <!-- Não esquece dos icons -->
            <a href="###" class="entrarGoogle"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="30"
                height="30"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#FFC107"
                  d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
                ></path>
                <path
                  fill="#FF3D00"
                  d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
                ></path>
                <path
                  fill="#4CAF50"
                  d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
                ></path>
                <path
                  fill="#1976D2"
                  d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
                ></path>
              </svg>
              Entrar com o Google</a
            >
            <a href="###" class="entrarFacebook"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="30"
                height="30"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#039be5"
                  d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"
                ></path>
                <path
                  fill="#fff"
                  d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z"
                ></path>
              </svg>
              Entrar com o Facebook</a
            >
            <a href="###">Esqueceu a senha?</a>
            <br />
            <p>
              Não tem uma conta?
              <a href="#3" class="botaoCadastrar"
                >Cadastre-se
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-box-arrow-up-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"
                  />
                </svg>
              </a>
            </p>
          </form>
        </article>
      </section>
    </main>

    <!-- Veja que os sites tendem a ter um design mais "simples" e uniforme, ao invés de muitas animações ou cores -->

    <footer>
      <!-- Aqui, por incrível que pareça, fica o header e o footer junto, o foco inicial é a main -->
      <!-- Mas vc pode fazer o header normal, e depois posicionar ele no fundo, vc que sabe -->
      <section>
        <header>
          <nav>
            <a href="##">Sobre</a>
            <a href="##">Blog</a>
            <select name="" id="">
              <!-- Nessa aba, podemos adicionar uma API para ficar mais fácil, então fazemos todo o bagulhete lá e conseguimos fazer a tradução para várias línguas -->
              <option value="">Português (Brasil)</option>
              <option value="">Inglês (EUA)</option>
              <option value="">Espanhol</option>
            </select>
            <a href="##">Termos</a>
            <a href="##">Nosso App</a>
            <a href="">Nossa IA</a>
          </nav>
        </header>
        <article>
          <span class="copyright"
            >Golden Boy | Copyright © Sonholândia | 2025 - 2025</span
          >
        </article>
      </section>
    </footer>
  </body>
</html>
