<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/icons8-golfinho-96.png') }}">
    <title>Sonholândia</title>
  </head>

  <body>
    <main>
      <section class="sectionPrincipal">
        <article class="imagensLogin">
          <img
            class="img01"
            src="{{ url_for('static', filename='assets/relaxed-woman-lying-with-eyes-closed-bed.jpg') }}"
            alt=""
          />
          <img
            class="img02"
            src="{{ url_for('static', filename='assets/full-shot-man-drinking-coffee.jpg') }}"
            alt=""
          />
          <img
            class="img03"
            src="{{ url_for('static', filename='assets/man-using-laptop-while-couch-home.jpg') }}"
            alt=""
          />
        </article>

        <article class="formLogin">
          <form action="{{ url_for('auth.loginNormal') }}" method="POST">
            <h1>Sonholândia</h1>
            <br />
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" style="color: {% if category == 'error' %}red{% else %}green{% endif %}; margin-bottom: 10px;">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <input type="text" name="username_or_email" placeholder="Usuário ou email" required />
            <input type="password" name="password" placeholder="Senha" required />
            <button type="submit" class="botaoEntrar" style="background: none; border: none; cursor: pointer; width: 100%;">Entrar 
              <img src="{{ url_for('static', filename='assets/icons8-entrar-32.png') }}" alt="Login">
            </button>

            <article class="divDoOU">
              <h3>
                OU
                <!-- svg... -->
              </h3>
            </article>

            <a href="{{ url_for('auth.loginWithGoogle') }}" class="entrarGoogle">
              <!-- svg Google (seu svg) -->
               <img src="{{ url_for('static', filename='assets/iconGoogleLogin.svg') }}" alt="Google">
              Entrar com o Google
            </a>

            <a href="{{ url_for('auth.loginWithFacebook') }}" class="entrarFacebook">
              <img src="{{ url_for('static', filename='assets/iconFacebookLogin.svg') }}" alt="Facebook">
              Entrar com o Meta</a>
            <a href="{{ url_for('auth.forgotPassword') }}">Esqueceu a senha?
              <img src="{{ url_for('static', filename='assets/icons8-escudo-de-pergunta-32.png') }}" alt="Esqueceu a senha?">
            </a>
            <br />
            <p>
              Não tem uma conta?
              <a href="{{ url_for('auth.signUp') }}" class="botaoCadastrar">
                Cadastre-se
                
                <img src="{{ url_for('static', filename='assets/iconSignUp.svg') }}" alt="User">
              </a>
            </p>
          </form>
        </article>
      </section>
    </main>

    <footer>
      <section>
        <header>
          <nav>
            <a href="{{ url_for('auth.about') }}">Sobre</a>
            <a href="{{ url_for('auth.blog') }}">Blog</a>
            <select name="" id="">
              <option value="">Português (Brasil)</option>
              <option value="">Inglês (EUA)</option>
              <option value="">Espanhol</option>
            </select>
            <a href="{{ url_for('auth.terms') }}">Termos</a>
            <a href="{{ url_for('auth.nossoApp') }}">Nosso App</a>
            <a href="{{ url_for('auth.nossaIA') }}">Nossa IA</a>
          </nav>
        </header>
        <article>
          <span class="copyright">Golden Boy | Copyright © Sonholândia | 2025</span>
        </article>
      </section>
    </footer>

    <!-- se você quiser usar um main.js -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
